body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    
}

.head {
    background-color: rgb(72, 109, 188);
    text-align: center;
}
.img {
    border: 1px solid rgb(221, 255, 221);
    border-radius: 8px;
}
.p {
    text-align: center;
}
